body{
    font-family: Lato,sans-serif;
}

h6{
    text-transform: uppercase;
    color:gray;
    font-size:10px;
    position:relative;
}
h6:after{
    content: '';
    position: absolute;
    top: 33px;
    left: 150px;
    background-color: gray;
    width: 19%;
    height: 1px;
}

h2{
    text-transform: uppercase;
    color:black;
    font-size:20px;
}

.btn-nav{
    background-color: #fff;
    font-size: 14px;
    color: gray;
}
a.contactdetails {
    color: gray;
    font-size: 13px;
}
.navheader {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 2%;
}
.getintouch{
    background-color:#003366;
    color:#fff;
    font-size: 13px;
    border-radius: unset;
    margin: 0 32px;
}
.fonticons {
    padding: 8px;
}
.intro-card{
    background-color:#fff;
    margin-top:-10%;
    margin-left: 6%;
}
.intro-card h6{
    padding-top:5%;
}
.emarpart{
    padding-bottom:2%;
}
span.dev{
    color: gray;
    font-size: 12px;
    padding-left: 2%;
}
section.middle-part{
    border-bottom:1px solid gray;
    padding-bottom: 3%;
}
.emaar-pricing{
    margin: 0 auto;
    text-align: center;
    padding-top: 3%;
}
.emaar-pricing h5 {
    font-size: 12px;
    color: gray;
}
.pricingbtn {
    color: #fff;
    padding: 3px;
    width: 13%;
}
.builing2, .builing3{
    margin-top:5%;
}
.iconic-position:after{
    top: 4px;
    left: 110px;
}
section.bedroom-img{
    margin-top:5%;
}
section.VR-tour-btn{
    margin-top:5%;
}
.video{
    margin-top:6%;
}
.about-btn{
    border:1px solid black;
    color:black;
    background-color: #fff;
}
section.about-us{
    margin-top:5%;
    padding-bottom:4%;
}
.about-heading h3{
    color:#003366;
}
.about-para {
    margin: 2% 21%;
}
.key-facts-para ul li {
    font-size: 15px;
}
.key-facts-heading h5{
    color:#003366;
    padding-bottom:4%;
}
.key-facts-bg{
    background-color:#C0C0C0;
}
    .key-facts-para {
        padding: 3% 10%;
}
section.key-facts{
    padding-bottom:4%;
}
.map-btn{
    padding-bottom:4%;
}
.form-heading h2{
    color:#003366;
    padding-top:4%;
    padding-bottom:3%;
}
.submit-btn{
    background-color:#003366;
    width: 360px;
    color:#fff;
}
.submitbtn1 {
    margin-left: 23%;
}
.invest h4{
    color:#003366;
    margin-left: 5%;
}
.bottom-img{
    margin:0 5%;
}
.invest ul li{
        font-size: 16px;
}
.invest {
    margin-top: -34px;
}
.form-heading h2 {
    color: #003366;
    padding-top: 4%;
    padding-bottom: 3%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
}
.invest img {
    margin-left: 7%;
    height: 206px;
    width: 440px;
    border: 3px solid gray;
}
form {
    border: 1px solid gray;
    padding-top: 9%;
    padding-right: 13%;
}
footer{
    padding-top:5%;
    padding-bottom:5%;
}
.footer-heading{
    color:gray;
}
.footer-heading4{
    font-size:40px;
}
button.btn.btn-success {
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;
    width: 228px;
    height: 77px;
}
.whatsapp-btn2 h6 {
    color: #fff;
    text-transform: lowercase;
}
span.fa.fa-whatsapp.whatsappicon {
    font-size: 50px;
    margin-left: -88px;
}
.whatsapp-btn2{
padding-bottom:5%;
}
.footer-bg{
    background-color:black;
}
.footer-para {
    color: #fff;
    padding: 0 9%;
    position:relative;
}
.footer-para:after {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    bottom: 55%;
    right: -33%;
    background-color: green;
    border-radius: 100%;
    font-size: 74px;
    width: 103px;
}
